export TF_VAR_cloudflare_api_token="$(security find-generic-password -s cloudflare-token -a finances -w)"
export TF_VAR_cloudflare_zone_id="$(security find-generic-password -s cloudflare-zone-id -a finances -w)"
